*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container{
    display: flex;
    height: 100vh;
}

#entryBox{
    border: 2px solid red;
    /* height: 50px; */
    margin: 20px;
    padding: 10px;

}

#listBox{
    border: 2px solid blue;
    margin: 20px;
    padding: 10px;
    width: 300px;
}


